body {
  font-family: 'Trebuchet MS', sans-serif;
}

.box {
  background: #ddd;
  border: 1px solid #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 0;
}
