@import "compass/css3/";
body{
  font-family: 'Trebuchet MS', sans-serif;
}
h1{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #f8931f;
}
.box{
  background: #ddd;
  border:1px solid #ccc;
  @include box-sizing(border-box);
  padding: 15px 0;
}
