.roootgrid {
  margin: 0;
}
.roootgrid .wrapper {
  margin: 0 auto;
  position: relative;
  clear: both;
}
.roootgrid .row {
  clear: both;
  position: relative;
}
.roootgrid .col-1,
.roootgrid .col-2,
.roootgrid .col-3,
.roootgrid .col-50 {
  position: relative;
  min-height: 1px;
  float: left;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.roootgrid .flex .col-1 {
  width: 33.33%;
}
.roootgrid .flex .col-2 {
  width: 66.66%;
}
.roootgrid .flex .col-3 {
  width: 100%;
}
.roootgrid .flex .col-50 {
  width: 50%;
}
.roootgrid .gutter-both {
  padding: 0 10px;
}
.roootgrid .gutter-left {
  padding: 0 0 0 10px;
}
.roootgrid .gutter-right {
  padding: 0 10px 0 0;
}

@media (min-width: 300px) and (max-width: 639px) {
  .roootgrid .wrapper {
    width: 320px;
  }
  .roootgrid .col-1 {
    width: 320px;
  }
  .roootgrid .col-2 {
    width: 320px;
  }
  .roootgrid .col-3 {
    width: 320px;
  }
  .roootgrid .col-50 {
    width: 100%;
  }
  .roootgrid .flex-md .col-1, .roootgrid .flex-md .col-2, .roootgrid .flex-md .col-3, .roootgrid .flex-md .col-50 {
    width: 100%;
  }
}
@media (min-width: 639px) and (max-width: 959px) {
  .roootgrid .wrapper {
    width: 640px;
  }
  .roootgrid .col-1 {
    width: 320px;
  }
  .roootgrid .col-2 {
    width: 320px;
  }
  .roootgrid .col-3 {
    width: 640px;
  }
  .roootgrid .col-50 {
    width: 50%;
  }
  .roootgrid .flex-md .col-1 {
    width: 33.33%;
  }
  .roootgrid .flex-md .col-2 {
    width: 66.66%;
  }
  .roootgrid .flex-md .col-3 {
    width: 100%;
  }
  .roootgrid .flex-md .col-50 {
    width: 50%;
  }
}
@media (min-width: 960px) {
  .roootgrid .wrapper {
    width: 960px;
  }
  .roootgrid .col-1 {
    width: 320px;
  }
  .roootgrid .col-2 {
    width: 640px;
  }
  .roootgrid .col-3 {
    width: 960px;
  }
  .roootgrid .col-50 {
    width: 50%;
  }
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

body {
  font: normal 14px Arial, Helvetica, sans-serif;
  color: #5d160c;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #f8931f;
  margin: 24px 0 0;
}

h2 {
  font-size: 20px;
  text-align: center;
  margin: 30px 0 16px;
}

.box {
  border: 1px solid #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 0;
}

.fila1 .box {
  background: #ffcc66;
}

.fila2 .box {
  background: #ffff66;
}

.fila3 .box {
  background: #ccff66;
}

.fila4 .box {
  background: #66ff99;
}

.fila5 .box {
  background: #66ffcc;
}

.fila6 .box {
  background: #ffcccc;
}

.licencia {
  font-size: 12px;
  text-align: center;
  padding: 40px 0 10px;
}

.licencia a {
  color: #f8931f;
}
