@import "compass/css3/";

.roootgrid{

  .wrapper{
    margin: 0 auto;
    position: relative;
  }

  .row{
    clear: both;
    position: relative;
  }

  .col-1,
  .col-2,
  .col-3
  {
    position: relative;
    min-height: 1px;
    float: left;
    @include box-sizing(content-box);
  }

  .flex{
    .col-1{
      width:33.33%;
    }
    .col-2{
      width:66.66%;
    }
    .col-3{
      width:100%;
    }
  }


  .gutter-both{
    padding: 0 10px;
  }
  .gutter-left{
    padding: 0 0 0 10px;
  }
  .gutter-right{
    padding: 0 10px 0 0;

  }
}

@media (min-width: 300px) and (max-width: 639px) {
  .roootgrid{

    .wrapper{
      width:320px;
    }

    .col-1{
      width:320px;
    }
    .col-2{
      width:320px;
    }
    .col-3{
      width:320px;
    }

    .flex-md{
      .col-1, .col-2, .col-3{
        width:100%;
      }
    }


  }
}

@media (min-width: 639px) and (max-width: 959px) {
  .roootgrid{

    .wrapper{
      width:640px;
    }

    .col-1{
      width:320px;
    }
    .col-2{
      width:320px;
    }
    .col-3{
      width:640px;
    }

    .flex-md{
      .col-1{
        width:33.33%;
      }
      .col-2{
        width:66.66%;
      }
      .col-3{
        width:100%;
      }
    }

  }
}

@media (min-width: 960px) {
  .roootgrid{

    .wrapper{
      width:960px;
    }

    .col-1{
      width:320px;
    }
    .col-2{
      width:640px;
    }
    .col-3{
      width:960px;
    }

  }
}