@import "compass/css3/";

.wrapper{
  width:960px;
  margin: 0 auto;
  position: relative;
}
.roootgrid{

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }


  .col-1{
    width:320px;
    float: left;
    margin:0;
    &.span-left{
      margin-left: 320px;
    }
    &.span-right{
      margin-right: 320px;
    }
  }
  .col-2{
    width:640px;
    float: left;
    margin:0;
    &.span-left{
      margin-left: 320px;
    }
    &.span-right{
      margin-right: 320px;
    }
  }
  .col-3{
    width:960px;
    float: left;
    margin:0;
    &.span-left{
      margin-left: 320px;
    }
    &.span-right{
      margin-right: 320px;
    }
  }
  .col-4{
    width:1280px;
    float: left;
    margin:0;
  }

  .gutter-both{
    padding: 0 10px;
  }
  .gutter-left{
    padding: 0 0 0 10px;
  }
  .gutter-right{
    padding: 0 10px 0 0;

  }
}